* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 550px;
    margin: 150px auto;
    padding: 15px;
    background-color: rgb(56, 55, 55);
    border: 5px solid rgb(148, 148, 148);
}

.row {
    display: flex;
    justify-content: space-between;
    flex: auto;
}

.first {
    flex-grow: 2;
    margin-bottom: 10px;
    max-height: 90px;
}

.button {
    flex: 1;
    font-size: 18px;
}

.display {
    flex: 1;
    background-color: rgb(134, 148, 101);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3px;
}

.display span {
    font-size: 64px;
}

.operator {
    max-width: 90px;
    background-color: orangered;
    color: white;
}

#button-clear {
    background-color: rgb(0, 81, 255);
    color: white;
}